<app-server></app-server>

<button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button>
{{allowNewServer}}

<p [innerText]="allowNewServer"></p>

<hr>
<h3>Event Binding</h3>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Create Server</button>

{{serverCreationStatus}}

<br><p></p>
<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">

{{serverName}}

<hr>

<h3>Two-Way Data Binding</h3>

<input type="text" class="form-control" [(ngModel)]="serverName">

{{serverName}}

<hr>

<h3>Assignment 2</h3>

<label>User</label>
<input type="text" class="form-control" [(ngModel)]="username">
<button class="btn btn-primary" [disabled]="!username" (click)="resetUserName()" >Reset</button>

<p>{{username}}</p>

<hr>

<h3>Ng If</h3>

<label>Create Account</label> <br>

<input type="text" class="form-control" [(ngModel)]="accountName">

<button class="btn btn-primary" [disabled]="!accountName" (click)="createAccount()">Create</button>

<p *ngIf="accountCreated; else noAccount">Account was created, Account name is {{accountName}}</p>
<ng-template #noAccount>
    <p>No account is created</p>
</ng-template>

<hr>

<h3>Ng Style</h3>

<label>Account Status</label> <br>

<p [ngStyle]="{ backgroundColor: getColor() }"> Account status is {{accountStatus}} (or) {{ getAccountStatus() }}</p>

<hr>


<h3>Ng Class</h3>

<label>Account Status : </label> <br>

<p [ngStyle]="{ backgroundColor: getColor() }" [ngClass]="{ online: accountStatus === 'online'}"> Account status is {{accountStatus}}. So, change test to White color</p>


<hr>

<h3>Ng FOR: You can add more Servers by creating.</h3>

<label>Add Server</label> <br>

<input type="text" class="form-control" [(ngModel)]="accountName">

<button class="btn btn-primary" [disabled]="!accountName" (click)="createServers()">Create Server</button>

<p *ngFor="let item of servers">Account was created, Account name is {{item}}</p>

<hr>

<h3>Assignment 3: Display Details.</h3>

<label>Create</label> <br>

<button  class="btn btn-primary" (click)="showSecret = !showSecret"  >Show secret</button>
<p *ngIf="showSecret">Secret Password : tuna</p>

<br>

<button class="btn btn-primary" (click)="displayDetails()">Display Details</button>

<!-- <p *ngFor="let item of logs; let i = index" [ngStyle]="{backgroundColor: item >= 5 ? 'blue': 'white'}" [ngClass]="{online: item >= 5 }" >Displaying details list: {{item}}, index : {{i}}</p> -->
<p *ngFor="let item of logs; let i = index" [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'white'}" [ngClass]="{online: i >= 4 }" >Displaying details list: {{item}}, index : {{i}}</p>


